*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(28, 9, 9, 0.5),rgb(5, 5, 5,10)),url(https://i.pinimg.com/originals/ec/f5/c9/ecf5c9e8009ad580a2f1477a50704038.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
}   
header{
    position: sticky;
    top: 10px;
    cursor: pointer;
    backdrop-filter: blur(25px);
    border-radius: 60px;
    border: 4px outset rgb(255, 89, 0);
    box-shadow: 0 0 10px rgba(244, 39, 39, 0.8), 0 0 25px rgba(230, 74, 74, 0.6);
}
header ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-evenly;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 25px;

}
.one{
    padding-right: 75px;
    color:rgb(254, 4, 4);
    text-shadow: 1px 1px 4px;
    border: 3px solid rgb(255, 89, 0);
    border-radius: 15px;
    padding-left: 30px;
    margin-bottom: 10px;
    background-color: rgba(216, 60, 49, 0.208);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
a{
    color: yellow;
    text-decoration: none;
}

.one:hover{
    transform: scale(1.09);
}
header li{
    color: aliceblue;
    text-shadow:2px 2px 15px rgb(254, 4, 4) ;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-shadow:5px 5px 10px rgb(254, 4, 4) ;

}
.two{
    color: rgb(244, 253, 3);
    text-shadow:2px 2px 15px rgb(254, 4, 4) ;
    text-align: center;
    backdrop-filter: blur(25px);
    border-radius: 60px;
    border: 4px outset rgb(255, 89, 0);
    box-shadow: 0 0 10px rgba(244, 39, 39, 0.8), 0 0 25px rgba(230, 74, 74, 0.6);
    padding: 10px;
    width: 30%;
    margin: 0 auto;
}
.two:hover{
    transform: scale(0.996);
}
h2{
    color: rgb(244, 253, 3);
    text-shadow:2px 2px 15px rgb(254, 4, 4) ;
    text-align: center;
    margin: 50px;
    backdrop-filter: blur(25px);
    border-radius: 60px;
    border: 4px outset rgb(255, 89, 0);
    box-shadow: 0 0 10px rgba(244, 39, 39, 0.8), 0 0 25px rgba(230, 74, 74, 0.6);
    padding: 5px;
    width: 20%;
    margin: 0 auto;
}  
h2:hover{
    transform: scale(0.996);
}
.three {
    border: solid 5px;
    justify-content: center;
    margin: 20px;
    margin-bottom: 50px;
    border:3px solid rgb(254, 10, 10) ;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(244, 39, 39, 0.8), 0 0 25px rgba(230, 74, 74, 0.6);
    
}
.three:hover{
    transform: scale(1.01);
}
p{
    background-color: black;
    color: aliceblue;
    padding: 25px;
    border-radius: 20px;
    
}
h4{
    color: rgba(255, 2, 2, 0.905);
    text-shadow:8px 5px 50px rgb(254, 4, 4) ;
    text-align: center;
    padding: 20px;
    font-size:20px;
}
.four{
    text-align: center;
    border: solid 1.9px;
    border-color: rgb(249, 155, 32);
    background:rgba(0,0,0,0.80);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 21, 0, 0.8), 0 0 25px rgba(255,0,0,0.6);
}
.f1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.f1:hover{
    transform: scale(1.03);
}
.five{
    background: rgba(239, 5, 5, 0.437);
    color: rgb(244, 253, 3);
}
table{
    border: 2px solid rgba(239, 5, 5, 0.437);
    margin: 10px;
}
.six{
    color: whitesmoke;
    padding: 6px;
    font-size: 16px;
    padding-bottom: 14px;
}
h5{
    color: rgb(249, 247, 244);
    padding-bottom:15px;
}
.seven{
    color: rgb(244, 253, 3);
    text-shadow:2px 2px 15px rgb(254, 4, 4) ;
    text-align: center;
    margin: 20px;
    background: rgba(231, 46, 46, 0.437);
    border-radius: 40px;    
    font-size: 18px;
}
.eight{
    color: rgb(255, 119, 0);
    font-size: 14px;
}
.f2{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin-top: 30px;
}
.f2:hover{
    transform: scale(1.03);
}
.f22{
    width: 510px;
}
.nine{
    width: 280px;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(6px);
    border: 2px solid rgb(249, 155, 32);
    border-radius: 20px;
    padding: 25px;
    min-height: 180px;
    box-shadow: 0 0 15px rgba(255,106,0,0.6),0 0 40px rgba(255,0,0,0.3);
    
}
.twelve{
    width: 280px;
    min-height: 180px;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(6px);
    border: 2px solid rgb(249, 155, 32);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(255,106,0,0.6),0 0 40px rgba(255,0,0,0.3);
    
}
.eleven{
    list-style:bullet;
    margin-bottom: 25px;
    color: aliceblue;
    letter-spacing: 0.5px;
    text-align: justify;
    padding: 20px;
    min-height: 180px;
}
.ten{
    color:orangered;
    font-size: 22px;
    padding-left: 20px;
}
.th{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.th:hover{
    transform: scale(0.9);
}
.tr{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.tr:hover{
    transform: scale(0.9);
}
footer{
    color: aliceblue;
    text-align: center;
    margin: 20px;
    padding-bottom: 2px;
}
.button{
    background-color: darkorange;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(249, 155, 32);
    box-shadow: 0 0 15px rgba(255,106,0,0.6),0 0 40px rgba(255,0,0,0.3);
    font-size: 14px;
    margin-left: 60px;
}
button:hover{
    transform: scale(1.1);
}

